node_modules
**/build
**/lib
**/node_modules
**/mock_packages
**/static
**/typings
**/labextension
**/schemas
**/themes
**/dist
**/envs
coverage
*.map.js
*.bundle.js
*.egg-info
./lab/
atest/
docs/

.vscode/
.conda-packages/
