.conda-packages/
.yarn-packages/
*.db
*.xml
**/__pycache__/
**/_d/
**/.ipynb_checkpoints/
**/.pytest_cache/
**/*.egg-info/
**/build/
**/dist/
**/labextension/
**/lib/
**/node_modules/
**/notebooks/Design/
atest/output/
envs/
lite/.cache/
