.jp-WXYZ-JSONSchemaForm .array-item-move-up::before {
  content: '▲';
}

.jp-WXYZ-JSONSchemaForm .array-item-move-down::before {
  content: '▼';
}

.jp-WXYZ-JSONSchemaForm .array-item-remove::before {
  content: '×';
}

.jp-WXYZ-JSONSchemaForm .array-item-remove {
  content: '×';
}

.jp-WXYZ-JSONSchemaForm .array-item-add button::before {
  content: '+';
}

.jp-WXYZ-JSONSchemaForm .array-item-add button {
  background-color: var(--jp-brand-color2);
  color: var(--jp-ui-inverse-font-color0);
}

.jp-WXYZ-JSONSchemaForm .array-item-add button:hover {
  background-color: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color0);
}

.jp-WXYZ-JSONSchemaForm .array-item-toolbox {
  opacity: 0.5;
}

.jp-WXYZ-JSONSchemaForm .array-item:hover > .array-item-toolbox {
  opacity: 1;
}

.jp-WXYZ-JSONSchemaForm .array-item-toolbox .btn-group {
  display: flex;
  flex-direction: column;
}

.jp-WXYZ-JSONSchemaForm .array-item-toolbox .btn:hover:not([disabled]) {
  background-color: var(--jp-layout-color3);
}

.jp-WXYZ-JSONSchemaForm .array-item-toolbox .btn.array-item-remove:hover {
  background-color: var(--jp-warn-color2);
  color: var(--jp-ui-inverse-font-color0);
}

.jp-WXYZ-JSONSchemaForm .array-item-toolbox .btn {
  margin-bottom: calc(var(--jp-ui-font-size1) / 2);
}

.jp-WXYZ-JSONSchemaForm .array-item-toolbox .btn[disabled] {
  opacity: 0.1;
  cursor: default;
}

.jp-WXYZ-JSONSchemaForm .array-item {
  display: flex;
  position: relative;
}
.jp-WXYZ-JSONSchemaForm .array-item:not(:last-child) {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color0);
  margin-bottom: var(--jp-ui-font-size1);
  padding-bottom: var(--jp-ui-font-size1);
}

.jp-WXYZ-JSONSchemaForm .array-item div:first-child {
  flex: 1;
  order: 2;
}

.jp-WXYZ-JSONSchemaForm .array-item-toolbox {
  flex: 0;
  padding-right: var(--jp-ui-font-size1);
  margin-bottom: calc(var(--jp-ui-font-size1) / 2);
  order: 1;
}
