.jupyter-widgets-lm-DockPanel {
  overflow: hidden;
}

/* dockpanel */
.jp-LinkedOutputView
  > .jp-OutputArea
  > .jp-OutputArea-output
  > .jupyter-widgets-lm-DockPanel {
  height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
}

/* slider */
.jupyter-widgets-lm-DockPanel .widget-inline-vbox .widget-readout {
  width: auto;
  height: auto;
}

-lm-DockPanel > .jupyter-widgets {
  margin: 0;
  overflow-y: auto;
}

.jp-WXYZ-Editor {
  display: flex;
  flex-direction: column;
}

.jp-WXYZ-Editor .CodeMirror {
  flex: 1;
}

/* data grid */
.jp-WXYZ-DataGrid {
  flex-direction: column;
}

.jp-WXYZ-DataGrid -lm-DataGrid {
  flex: 1;
  border: 0;
}

/* style grid */
.jp-WXYZ-StyleGrid -lm-DataGrid -lm-ScrollBar-track {
  background-color: var(--jp-layout-color3);
  border: var(--jp-border-width) solid var(--jp-border-color0);
}

.jp-WXYZ-StyleGrid -lm-DataGrid -lm-ScrollBar-button {
  background-color: var(--jp-layout-color2);
  border: var(--jp-border-width) solid var(--jp-border-color0);
}

.jp-WXYZ-StyleGrid -lm-DataGrid -lm-ScrollBar-thumb {
  background-color: var(--jp-layout-color2);
  border: var(--jp-border-width) solid var(--jp-border-color0);
}

/* select grid */
.jp-WXYZ-SelectGrid {
}

/* file box */
.jp-WXYZ-FileBox-DragTarget {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
.jp-WXYZ-FileBox-dragover .jp-WXYZ-FileBox-DragTarget {
  background: rgba(33, 150, 243, 0.1);
  border: var(--jp-border-width) dashed var(--jp-brand-color1);
}
