include README.md
include src/wxyz/notebooks/js/package.json src/wxyz/notebooks/js/LICENSE.txt

recursive-include src/wxyz/notebooks *.ipynb *.svg
global-exclude .ipynb_checkpoints
global-exclude  dask-worker-space
global-exclude node_modules
