include README.md
include src/wxyz/notebook/js/LICENSE.txt

recursive-include src/wxyz/notebooks *.ipynb *.svg
global-exclude .ipynb_checkpoints
global-exclude  dask-worker-space
global-exclude .node_modules
